<style>
  .swiper-container {
    width: 100%;
    height: 100%;
  }

  @import "../assets/swiper.css";
</style>

<script>
	export default {
		components: {
    },
        
		data() {
			return {
			}
		},

		computed: {
    },
    
    created(){
    },

		mounted()
		{
      this._createStyle()
		},

		methods: {
			_createStyle() {
				let styleElement = document.createElement('style')
				styleElement.type = "text/css"
				styleElement.innerHTML = this.$data.style

				let doc = this.$el
				doc.appendChild(styleElement)
			},
		}
	}
</script>